@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-size: 30px;
}

.search {
    position: relative;
    height: 50px;

}

.search .input {
    background-color: rgb(255, 255, 255);
    border: 0;
    font-size: 18px;
    /* padding: 15px; */
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

.icon {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
    width: 40px;

}

.btn:focus, .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}


.search.active .btn{
    transform: translateX(198px); 
}