@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    /* flex-direction: wrap; */
    /* width: 200px; */
    /* margin: 10px; */
}

.index {
    /* padding: 10px; */
    width: 15%;
    background: rgb(178, 178, 178);
    align-items: center;
    /* flex-grow: 2; */

}
.index .lists {
    /* padding: 10px; */
}
.index .lists .item {
    display: flex;
    padding: 10px 10px;
    /* align-items: ; */
    margin: 10px;
    background-color: rgb(254, 229, 229);
    /* width: 25%; */
    /* height: ; */
    border-radius: 10px;
    list-style-type: none;
    text-decoration: none;
}



.preview-Page {
    padding: 20px;
    text-align: justify;
    background: rgb(224, 224, 224);
    flex-grow: 1;
    flex-basis: 0;
}
