@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}

* {
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.index {
    padding: 10px;
    width: 15%;
    background: rgb(178, 178, 178);
    align-items: center;
    flex-grow: 2;

}
.index .lists {
    padding: 10px;
}
.index .lists .item {
    display: flex;
    padding: 10px 10px;
    align-items: center;
    margin: 10px;
    background-color: rgb(254, 229, 229);
    border-radius: 10px;
    list-style-type: none;
    text-decoration: none;
}

.preview-page {
    background-color: #eee;
}
header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    padding: .5rem 1rem;
}

.search::placeholder {
    color: #7378c5;
    
}

.search:focus{
    outline: none;
    background-color: var(--primary-color);
}

.titleHeading {
    color: #fff;
    padding: 0 1rem;
}

main {
    display: flex;
    padding: 1rem;

}
.main-left {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
    /* /* right: 0; */
    width: 100%; 
}
.main-left .project {
    /* margin: 10px; */

}

/* .main-right {

    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background-color: #7378c5;
    height: 100%;
} */
.dayNumber {
    width: auto;
    font-size: small;
    padding: 5px 5px;
    border-radius: 0 0 5px 0;
    color: #eee;
    background-color: #7378c5;
    position: absolute;
    /* border: 0; */
    margin: 0;
}

.project {
    /* width: 300px; */
    margin: 0.2rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0,0,0, 0.2);
    overflow: hidden;
    position: relative;
    border-radius: 3px;
}


.project img {
    width: 100%;

}

.project-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem ;
    letter-spacing: 0.5px;

}

.project-info h3 {
    margin:0;
}


.project-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
     
}



.discription {
    background-color: #fff;
    padding: 1rem;
    position: absolute; 
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    
}

.project:hover .discription {
    transform: translateY(0);
}


.demoBtn {
    color: #eee;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.25rem 1rem;
    /* margin: 1rem; */
}

.demoBtn a {
    color: #eee;
    text-decoration-line: none;
}

.demoBtn:hover {
    cursor: pointer;
}


